flow_screen_components/OrderedListBoxFSC/force-app/main/default/flows/orderedListBoxIntegration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddValueToNotSortedList</name>
        <label>AddValueToNotSortedList</label>
        <locationX>665</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>notSortedStrings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>generateListOfString</targetReference>
        </connector>
    </assignments>
    <interviewLabel>orderedListBoxIntegration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>orderedListBoxIntegration</label>
    <loops>
        <name>generateListOfString</name>
        <label>generateListOfString</label>
        <locationX>360</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>currentAccount</assignNextValueToReference>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddValueToNotSortedList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ordered_list_box</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Steps</name>
        <label>Get All Steps</label>
        <locationX>241</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>generateListOfString</targetReference>
        </connector>
        <object>Account</object>
        <outputReference>Accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>ordered_list_box</name>
        <label>Ordered List Box</label>
        <locationX>362</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sorted</targetReference>
        </connector>
        <fields>
            <name>actual_sorting</name>
            <fieldText>&lt;p&gt;Actual Sorting&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>list_box</name>
            <extensionName>c:orderedListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>values</name>
                <value>
                    <elementReference>notSortedStrings</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sortedStringList</assignToReference>
                <name>values</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sorted</name>
        <label>Sorted Result</label>
        <locationX>556</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sorted_result</name>
            <fieldText>&lt;p&gt;This is sorted result&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>sorted_list_box</name>
            <extensionName>c:orderedListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>values</name>
                <value>
                    <elementReference>sortedStringList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Steps</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>notSortedStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sortedStringList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
